body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333238;
}

h1,
h2 {
	border-bottom: 1px solid #e6e6ea;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	background: #e6e6ea;
	padding: 2px;
	border-radius: 2px;
}

pre code {
	display: block;
	padding: 15px;
	overflow: auto;
}

a:hover {
	color: #1f75cb;
	text-decoration: underline;
}

a {
	color: #1f75cb;
	text-decoration: none;
	background-color: transparent;
}

/* CONTENT */

.content {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 15px;
	box-sizing: border-box;
}

#readme {
	& a + a {
		margin-left: 5px;
	}
}

#examples h2 {
	width: 100%;
	margin-top: 0;
}

/* EXAMPLES */

#examples {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& svg {
		width: 50px;
		margin: 15px;
	}

	& div {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	& button {
		margin: 0 7px;
		min-height: 50px;
	}

	#change-fill {
		display: none;
	}

	#change-fill.show {
		display: block;
	}
}

svg path {
	stroke: #000;
}

svg path.animated {
	stroke: #00a0ee;
}

svg path.animated,
svg circle.animated {
	stroke: #00a0ee;
}
