.svg-ani-lines {
	.animated {
		--stroke-dash-value: 0;

		stroke-dasharray: var(--stroke-dash-value);
		stroke-dashoffset: var(--stroke-dash-value);

		transition: all 0.5s ease-in-out;
	}

	&:not(.fill):not(.disable-hover):hover .animated,
	&.fill .animated {
		stroke-dashoffset: 0;
	}
}
